<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} Zombify {% endblock %}</title>
    {% block css_links %}
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<script src="//use.edgefonts.net/fredericka-the-great.js"></script> <!-- the sketchy font -->
		<script src="//use.edgefonts.net/vt323.js"></script> <!-- a pixel-y font -->
		<script src="//use.edgefonts.net/megrim.js"></script> <!-- super minimalist font -->
		<script src="//use.edgefonts.net/fusaka-std.js"></script> <!-- a weird semi creepy font -->
		<script src="//use.edgefonts.net/the-girl-next-door.js"></script> <!-- a semi sloppy handwritten font -->
    {% endblock %}
</head>
<style>
    {% block page_style %}

	.section {
		border-style: solid;
	}

	.container {
		width = 100%;
	}
  .spacing{
    padding-left: 90px;
  }
    {% endblock %}
</style>
</head>
<body style="background:#ecf0f1;">

<div class="container" style="background:#ecf0f1; padding-left:10px; padding-right:10px;">

{#Navbar is below#}
    <nav class="navbar navbar-default navbar-inverse" style="margin-left: -11px; width:102%;">
  <div class="container-fluid" style="padding-left: 0 !important;">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" style="padding-left:0 !important;">
      <ul class="nav navbar-nav navbar-left">
        <li style="font-family: 'vt323'; font-size:20px;"><a href="/">{{ greetings }}.</a></li>
		<li style="font-family: 'vt323'; font-size:20px;"><a href="/main">Home</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
        <li class="navbar-link" style="font-family:'vt323'; font-size:20px;"><a href={{url}}>{{url_linktext}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
{% block content %}
{#        Any content specific to the base page (i.e. a navbar, footer, sidebar) should go in this area. #}

{% endblock %}

{# footer #}
<div class="container placeFooter" style="position: fixed; margin: 0 auto;left: 0;right: 0;bottom: 0;">
  <div class="row text-center footer container" style="background:#000000; opacity:0.4;  color:white;">
			&copy; Zombified 2015. <a href="https://github.com/breadraptor/cs399_final">Our Github</a>
		</div>
	</div>



<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
{% block js %}
{#            Any JavaScript specific to this page will come here.  #}
        {% endblock %}
</script>
