{% extends 'base.html' %}
{%block title %}David{% endblock %}
{%block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class = "spacing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">David Miller. <span class="text-muted">Wizards only, fools.</span></h2>
          <p class="lead"> Take everything 10 seconds at a time. If you can make it through the next 10 seconds, just start another 10 seconds.</p>
          <p class="lead">David has completed {{ challenges_completed }} challenges!</p>
		</div>
        <div class="col-md-5">
          <img src="/static/david.jpg" alt="David" height="500" width="300">
        </div>
      </div>
    </div>

    </div><!-- /.container -->
{% endblock %}