{% extends 'base.html' %}
{%block title %}Erin{% endblock %}
{%block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class = "spacing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Erin Bailey. <span class="text-muted">Not messing around.</span></h2>
          <p class="lead"> Been climbing trees since she was a wee lass in preparation for this. Some say she can do a backflip</p>
          <p class="lead">Erin has completed {{ challenges_completed }} challenges!</p>
		</div>
        <div class="col-md-5">
          <img src="/static/erin.jpg" alt="Erin" height="500" width="300">
        </div>
      </div>
    </div>

    </div><!-- /.container -->
{% endblock %}