{% extends 'base.html' %}
{%block title %}Erin{% endblock %}
{%block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Erin Bailey. <span class="text-muted">Strong independent woman.</span></h2>
          <p class="lead"> I believe that the moon does not exist. I believe that vampires are the world's greatest golfers but their curse is they never get a chance to prove it. I believe that there are 31 letters in the white alphabet.</p>
          <p class="lead">Erin has completed {{ challenges_completed }} challenges!</p>
		</div>
        <div class="col-md-5">
          <img src="/static/erin.jpg" alt="Erin" height="500" width="300">
        </div>
      </div>

    </div><!-- /.container -->
{% endblock %}