{% extends 'base.html' %}
    {% block title %}Jack {% endblock %}
{% block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Jack Burrell. <span class="text-muted">Never off guard.</span></h2>
          <p class="lead">Jack keeps survival supplies in his car... just in case. He has elaborate plans for attempting to stay alive after the dead rise.</p>
        <p class="lead">Jack has completed {{ challenges_completed }} challenges!</p>
		</div>
        <div class="col-md-5">
          <img src="/static/jack.jpg" alt="Jack">
        </div>
      </div>

    </div><!-- /.container -->

{% endblock %}
