{% extends 'base.html' %}
    {% block title %}Jack {% endblock %}
{% block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Erin Bailey. <span class="text-muted">She'll blow your brains.</span></h2>
          <p class="lead">This girl has been climbing trees in preparation for the zombie apacolypse since she was fresh outta the womb. In her spare time she likes to prepare by playing left4dead and gathering berries by the engineering building.</p>
        </div>
        <div class="col-md-5">
          <img src="/static/erin.jpg" alt="Erin" height="500" width="500">
        </div>
      </div>

    </div><!-- /.container -->

{% endblock %}
