{% extends 'base.html' %}
{%block title %}Sarah{% endblock %}
{%block content %}
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class = "spacing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Sarah Kehoe. <span class="text-muted">Whisky Drinker.</span></h2>
          <p class="lead"> Stop eating people’s old French fries, pigeon! Have some self respect! Don’t you know you can fly?.</p>
          <p class="lead">Erin has completed {{ challenges_completed }} challenges!</p>
		</div>
        <div class="col-md-5">
          <img src="/static/sarah.jpg" alt="Sarah" height="500" width="300">
        </div>
      </div>
    </div>

    </div><!-- /.container -->
{% endblock %}